<nav>
  <h1> Treasured </h1>
  <div class="nav-links">
    <% if (user) { %>
      <a href="/posts">Home</a>
      <a href="/users/profile/<%= user._id %>">My Profile</a>
      <a href="/auth/sign-out">Sign Out</a>
    <% } else { %>
      <a href="/auth/sign-up">Sign Up</a>
      <a href="/auth/sign-in">Sign In</a>
    <% } %>
  </div>
</nav>
