<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Comments</h1>
  <% postComments.forEach(comment => { %>
    <h1><%= comment.description %></h1>
    <p><%= comment._id %></p>
    <form action="/<%= comment._id%>?_method=DELETE" method="POST">
      <button type="submit">Delete</button>
    </form>
  <% }); %>
</body>
</html>
