/* Style for sign-up + sign-in */

.form-card {
  background-color: #c1bfc1;
  padding: 20px 20px;
  border-radius: 20px;
  width: 50%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 50px auto;
  box-shadow: 0 6px 15px rgba(0,0,0,0.2);
}

.form-card h1 {
  color: #fff;
  margin-bottom: 20px;
}


.form-card label {
  font-weight: bold;
  color: #fff;
  margin-bottom: 5px;
  text-align: left;
  display: block;
  width: 100%;
}

.form-card input,
.form-card select,
.form-card textarea {
  padding: 10px;
  border-radius: 10px;
  border: none;
  width: 100%;
  margin-bottom: 20px;
  font-size: 1rem;
}


.form-card button {
  padding: 12px;
  background-color: #afacaf;
  color: #fff;
  border-radius: 12px;
  cursor: pointer;
  font-size: 1rem;
  width: 100%;
}

.form-card button:hover {
  background-color: #0a080a;
  transform: scale(1.02);
}