/* index.ejs */
h1 {
  text-align: center;
  margin-bottom: 40px;
  color: #f2efef;
  font-size: 2rem;
}

.post-btn {
  display: block;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: 30px;
  background-color: #9da2a4;
  opacity: 80%;
  border-radius: 25px;
  padding: 15px 30px;
  font-size: 18px;
  color: white;
}

.post-btn a {
  color: #ece7e7;
}

.post-container {
  columns: 4 250px;
  column-gap: 1.5rem;
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
}

.post-card {
  border:1px solid #fbfbfb;
  display: inline-block;  
  border-radius: 20px;
  margin: 30px 10px;
  padding: 10px;
  cursor: pointer;
}

.post-card:hover {
  transform: translateY(-5px) scale(1.02);
}

.post-image {
  width: 100%;
  display: block;
}

.post-content {
  padding: 15px 20px;
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.post-title {
  font-size: 1.1rem;
  color: #efebeb;
}

.post-category {
  font-size: 0.9rem;
  color: white;
  border-radius: 12px;
  padding: 10px;
  margin-left: 200px;
}

/* new.ejs */

.form-card {
  background-color: #c1bfc1;
  padding: 20px 20px;
  border-radius: 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin:auto
}

.form-card h1 {
  color: #fff;
}


.form-card label {
  font-weight: bold;
  color: #fff;
  margin-bottom: 5px;
  text-align: left;
  display: block;
}

.form-card input,
.form-card select,
.form-card textarea {
  padding: 10px;
  border-radius: 10px;
  border: none;
  width: 100%;
  margin-bottom: 20px;
}


.form-card button {
  padding: 12px;
  color: #fff;
  border-radius: 12px;
  cursor: pointer;
  font-size: 1rem;
   background-color: #9da2a4;

}

