@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

.navbar {
  display: flex;
  flex-direction: row;
  max-width: 100vw;
  padding: 5px 20px;
  justify-content: space-between;
  align-items: center;
}

#nav-header {
  color: #F9E5C1;
  size: 1em !important;
  margin: 0;
}

.authlink {
  /* text-decoration: none; */
  margin: 0 15px;
  color:#fef9f0;
  font-weight: bold;
}

.auth-link:hover {
  color: #5cb0b0;
}

.nav-links {
  color:#fef9f0;
}
