.profile-avatar{
  width: 150px;
    height: 150px;
    clip-path: circle();
    overflow: hidden;
}

.profile-info{
  display: flex;
  padding: 10px;
  margin: 20px;
}

.profile-data{
  padding: 10px;
}

.edit-profile a {
  text-decoration: none;
  color: black;
}
