@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

body{
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0; 
  background: linear-gradient(225deg,rgba(239, 239, 230, 1) 0%, rgba(203, 156, 156, 1) 40%, rgba(83, 107, 121, 1) 100%);
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
}

.container {
  width: 90%;
  max-width: 600px;
  margin: 40px auto;
  padding: 25px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
}

.main-title {
  font-size: 28px;
  color: #fff;
  margin-bottom: 20px;
}

.welcome-text {
  color: #fff;
  font-size: 22px;
  margin-bottom: 12px;
}

.btn {
padding: 10px 20px;
border-radius: 6px;
text-decoration: none;
font-weight: bold;
display: inline-block;
margin: 5px;
}

.primary-btn {
  background-color: #556e7a;
  color: #fff;
}

.primary-btn:hover {
  background-color: #455962;
}

.secondary-btn {
  background-color: #c89b9b;
  color: #fff;
}

.secondary-btn:hover {
  background-color: #b28888;
}

.or {
  color: #fff;
  margin: 0 5px;
}

.welcome-box {
  margin-top: 20px;
}


/* Style for nav */
nav {
  display: flex;
width: 100%;
padding: 15px 25px;
background: rgba(255, 255, 255, 0.2);
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
margin-bottom: 20px;
display: flex;
justify-content: space-between;
align-items: center;
}


nav h1 {
margin: 0;
font-size: 20px;
color: #fff;
}

nav a {
  color: #333;
  text-decoration: none;
  margin-left: 15px;
}

nav a:hover {
  text-decoration: underline;
  color: #000;
}